%body
  .bg-white
    = render "navbar"
  %main#home
    .bg-repeat.bg-opacity-10{:style => "background-image: url('/assets/background.jpg'); background-color: rgba(255,255,255,0.7); background-blend-mode: lighten;"}
      .relative.isolate
        .overflow-hidden
          .mx-auto.max-w-none.lg:max-w-7xl.px-6.pb-32.pt-36.sm:pt-60.lg:px-8.lg:pt-40
            .mx-auto.max-w-2xl.gap-x-14.lg:mx-0.lg:flex.lg:max-w-none.lg:items-center
              .relative.w-full.max-w-xl.lg:shrink-0.xl:max-w-2xl
                %h1.text-5xl.font-bold.tracking-tight.text-gray-700.sm:text-7xl Agnes and Mairt are getting married!
                .mt-10.flex.items-center.gap-x-6
                  .bg-pink-400.text-2xl.leading-6.text-gray-900.rsvp-button.rounded-lg.px-8.py-3.text-white.hover:cursor-pointer.hover:bg-opacity-80
                    RSVP
              .mt-14.flex.justify-end.gap-8.sm:-mt-44.sm:justify-start.sm:pl-20.lg:mt-0.lg:pl-0
                .ml-auto.w-48.flex-none.space-y-8.pt-32.sm:ml-0.sm:pt-80.lg:order-last.lg:pt-36.xl:order-none.xl:pt-80
                  .relative
                    = image_tag('party_portrait_low_res.jpg', class: "aspect-[2/3] bg-gray-900/5 w-full rounded-xl object-cover shadow-lg")
                    .pointer-events-none.absolute.inset-0.rounded-xl.ring-1.ring-inset{:class => "ring-gray-900/10"}
                .mr-auto.w-48.flex-none.space-y-8.sm:mr-0.sm:pt-52.lg:pt-36
                  .relative
                    = image_tag('park_portrait.jpg', class: "aspect-[2/3] bg-gray-900/5 w-full rounded-xl object-cover shadow-lg")
                    .pointer-events-none.absolute.inset-0.rounded-xl.ring-1.ring-inset{:class => "ring-gray-900/10"}
                  .relative
                    = image_tag('thirty_portrait.jpg', class: "aspect-[2/3] bg-gray-900/5 w-full rounded-xl object-cover shadow-lg")
                    .pointer-events-none.absolute.inset-0.rounded-xl.ring-1.ring-inset{:class => "ring-gray-900/10"}
                .w-48.flex-none.space-y-8.pt-32.sm:pt-0
                  .relative
                    = image_tag('flat_portrait.jpg', class: "aspect-[2/3] bg-gray-900/5 w-full rounded-xl object-cover shadow-lg")
                    .pointer-events-none.absolute.inset-0.rounded-xl.ring-1.ring-inset{:class => "ring-gray-900/10"}
                  .relative
                    = image_tag('selfie_portrait.jpg', class: "aspect-[2/3] bg-gray-900/5 w-full rounded-xl object-cover shadow-lg")
                    .pointer-events-none.absolute.inset-0.rounded-xl.ring-1.ring-inset{:class => "ring-gray-900/10"}
            #rsvp-form
              = render "rsvp_form"
            
            = render "information"
            #q-and-as
              = render 'q_and_a'


:javascript
  
  var rsvpButton = document.querySelector('.rsvp-button')
  var rsvpNav = document.querySelector('.rsvp-nav')
  var infoNav = document.querySelector('.info-nav')
  var QAndAsNav = document.querySelector('.q-and-as-nav')
  
  rsvpButton.addEventListener('click', scrollToForm)
  rsvpNav.addEventListener('click', scrollToForm)
  infoNav.addEventListener('click', scrollToInfo)
  QAndAsNav.addEventListener('click', scrollToQAndAs)



  function scrollToForm() {
    document.getElementById("rsvp-form").scrollIntoView()
  }

  function scrollToHome() {
    document.getElementById("home").scrollIntoView()
  }

  function scrollToInfo() {
    document.getElementById("info").scrollIntoView()
  }

  function scrollToQAndAs() {
    document.getElementById("q-and-as").scrollIntoView()
  }